<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
        // 下载类安装权限，下载完需要申请，否则无法进行安装
    -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.adgain.demo.MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:allowBackup"
        tools:targetApi="24">

        <!-- 微信小程序示例Activity -->
        <activity
            android:name="com.adgain.demo.WeChatMiniProgramDemoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <!-- URI Scheme测试Activity -->
        <activity
            android:name="com.adgain.demo.mini.UriSchemeListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <!-- 微信回调Activity -->
        <activity
            android:name="com.adgain.demo.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.adgain.demo"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.adgain.demo.DeviceInfoDemoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adgain.demo.natives.NativeAdFeedDemoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adgain.demo.natives.NativeAdRecycleDemoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adgain.demo.natives.NativeAdListDemoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adgain.demo.natives.NativeAdSimpleDemoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.adgain.demo.natives.NativeAdDemoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <!--
                android:screenOrientation="landscape"
        -->
        <activity
            android:name="com.adgain.demo.interstitial.InterstitialDemoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <!--
                android:configChanges="orientation|screenSize"
                业务一定要加，否则竖屏无法切换到横屏
        -->
        <activity
            android:name="com.adgain.demo.reward.RewardDemoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.adgain.demo.splash.SplashDemoActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.adgain.demo.splash.SplashLandDemoActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.adgain.demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplashTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            tools:ignore="DiscouragedApi">

        </activity>

        <activity
            android:name="com.adgain.demo.LeakActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>